ol.toc {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ol.toc li a {
  font-size: 2em;
  text-decoration: none;
}

p.introduction {
  width: 400px;
}

pre.code {
  padding: 20px;
  background-color: #F0FFF0;
}

p.equation {
  padding: 20px;
  background-color: #F1F8FF;
  position: relative;
}

p.author {
  font-size: 1.2em;
  font-style: italic;
}

p.caption {
  color: #999;
}

div.container {
  width: 700px;
}

